.App {
  margin: 0px;
  margin-top: 10px;
}

.header {
  text-align: center;
}

.battleCard {
  margin: 10px auto;
}

.thumbnail {
  width: 100%;
  max-width: 320px;
}

.MuiTabPanel-root {
  padding: 24px 0;
}

.MuiPaper-root {
  width: 320px;
}